<!DOCTYPE html>
<html>
<head>
  <title>ION Dashboard</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0">
  <base id="baseUrl" href="<%=baseUrl%>">
    <!--[if IE]>
      <script type="text/javascript">
        // Fix for IE ignoring relative base tags.
        (function() {
            var baseTag = document.getElementsByTagName('base')[0];
            baseTag.href = baseTag.href;
        })();
      </script>
    <![endif]-->
  <link href="dashboard/vendor/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">

  <%- stylesheets %>

  <script src="dashboard/vendor/jquery/dist/jquery.min.js"></script>
  <script src="dashboard/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="dashboard/vendor/store/store.min.js"></script>
</head>

<body>

<%- body %>

<%- scripts %>
</body>
</html>
